[DB]
# DB user settings

# MongoDB default port 27017
port = 27017

# MongoDB server host
host = 127.0.0.1

database = database_name
auth_database = authenticate_database_name
user = user_name
password = user_password
